@import "tailwindcss";

:root {
  --background: oklch(0.9 0.02 315);
  --background-light: oklch(0.94 0.02 315);
  --background-lighter: oklch(0.98 0.02 315);
  --foreground: oklch(0.2 0 0);
  --foreground-strong: oklch(0.1 0 0);
  --foreground-muted: oklch(0.45 0 0);

  --color-primary: oklch(0.76 0.1 315);

  --card-shadow:
    inset 0 1px 2px hsla(0, 0%, 100%), 0px 2px 4px hsla(0, 0%, 0%, 0.07),
    0px 4px 8px hsla(0, 0%, 0%, 0.15);

  --primary-glow:
    0px 0px 10px oklch(0.76 0.1 315), 0px 0px 2px oklch(0.76 0.1 315) inset;
}

[data-theme="dark"] {
  --background: oklch(0.1 0.05 315);
  --background-light: oklch(0.15 0.05 315);
  --background-lighter: oklch(0.2 0.05 315);
  --foreground: oklch(0.96 0.05 315);
  --foreground-strong: oklch(0.99 0.05 315);
  --foreground-muted: oklch(0.76 0.02 315);

  --color-primary: oklch(0.76 0.1 315);

  --card-shadow:
    inset 0 1px 2px hsla(0, 0%, 35%), 0px 6px 6px hsla(0, 0%, 0%, 0.07),
    0px 12px 12px hsla(0, 0%, 0%, 0.15);

  --primary-glow:
    0px 0px 10px oklch(0.76 0.1 315), 0px 0px 2px oklch(0.76 0.1 315) inset;
}

@theme inline {
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-background-lighter: var(--background-lighter);
  --color-foreground: var(--foreground);
  --color-foreground-strong: var(--foreground-strong);
  --color-foreground-muted: var(--foreground-muted);

  --color-primary: var(--color-primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shadow-card: var(--card-shadow);
  --shadow-glow-primary: var(--primary-glow);

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
