@import "tailwindcss";

:root {
  --background: oklch(0.85 0 0);
  --background-light: oklch(0.9 0 0);
  --background-lighter: oklch(0.95 0 0);
  --foreground: oklch(0.2 0 0);
  --foreground-strong: oklch(0.1 0 0);
  --foreground-muted: oklch(0.45 0 0);
  --card-shadow: inset 0 1px 2px hsla(0, 0%, 100%),
    0px 2px 4px hsla(0, 0%, 0%, 0.07), 0px 4px 8px hsla(0, 0%, 0%, 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-background-lighter: var(--background-lighter);
  --color-foreground: var(--foreground);
  --color-foreground-strong: var(--foreground-strong);
  --color-foreground-muted: var(--foreground-muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --shadow-card: var(--card-shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.2 0 0);
    --background-light: oklch(0.22 0 0);
    --background-lighter: oklch(0.28 0 0);
    --foreground: oklch(0.85 0 0);
    --foreground-strong: oklch(0.95 0 0);
    --foreground-muted: oklch(0.7 0 0);
    --card-shadow: inset 0 1px 2px hsla(0, 0%, 35%),
      0px 6px 6px hsla(0, 0%, 0%, 0.07), 0px 12px 12px hsla(0, 0%, 0%, 0.15);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
